@import "../../theme.scss";

.root {
  border: $color-border 1px solid;
  width: min-content;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.notation {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;

}

.titles {
  display: flex;
  padding-left: 20px;
}